<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Placement:</strong>
  <%= @plant.placement %>
</p>

<p>
  <strong>Date planted:</strong>
  <%= @plant.date_planted %>
</p>

<p>
  <strong>Flowered At:</strong>
  <%= @plant.flowered_at %>
</p>

<p>
  <strong>Flower Colour:</strong>
  <%= @plant.flower_colour %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @plant.notes %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
